$blue_mode-color__accent: #6C63FF;

$blue_mode-color__text-heading: #333; //

$blue_mode-color__link: #6C63FF;
$blue_mode-color__link-hover: #463aff;

$blue_mode-color__background-button: #6C63FF;
$blue_mode-color__background-button-hover: #463aff;
$blue_mode-color__border-button: #6C63FF;
$blue_mode-color__border-hover: #463aff;

$blue_mode-color__background-alt: #F7F7F7;
$blue_mode-color__border-input: #4641FF;

$blue_mode-color__primary-nav: $blue_mode-color__accent;
$blue_mode-color__primary-nav-hover: darken($blue_mode-color__accent,8%);

$blue_mode-color__background: #fff;