$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-sub-menu:#adc7af;
$color__background-footer: #adc7af;

$color__currentColor: #adc7af; // зеленый

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #5a695b; //royalblue
$color__link-visited: #5a695b; //purple
$color__link-hover: #06d19c; //midnightblue
$color__text-main: #404040; // #666666 #777777
$color__social-link: #777777;
$color__social-link-hover: #06d19c;
$color__footer-menu-link: #666;
$color__footer-menu-link-hover: $color__currentColor;



$color__background-button: #06d19c;
$color__background-button-hover: #05bd8d;
$color__border-button: #06d19c;
$color__border-button-hover: #05bd8d;
$color__border-button-focus: #05bd8d;

$color__background-input: #f8f8f8;
$color__border-input: #eee;
$color__border-input-focus: #05bd8d;
$color__border-abbr: #666;


$color__site-title: $color__text-main;
$color__site-title-hover: $color__currentColor;
$color__primary-nav: #305c43;
$color__primary-nav-hover: #305c43;
$color__footer-link: $color__text-main;
$color__footer-link-hover: $color__currentColor;
