$green_mode-color__accent: #06d19c;

$green_mode-color__text-heading: #255852;

$green_mode-color__link: #00996d;
$green_mode-color__link-hover: #255852;

$green_mode-color__background-button: #06d19c;
$green_mode-color__background-button-hover: #05bd8d;
$green_mode-color__border-button: #06d19c;
$green_mode-color__border-hover: #05bd8d;

$blue_mode-color__background-alt: #F7F7F7;
$blue_mode-color__border-input: #05bd8d;

$green_mode-color__primary-nav: $green_mode-color__accent;
$green_mode-color__primary-nav-hover: darken($green_mode-color__accent,8%);

$green_mode-color__background: #fff;