$pink_mode-color__accent: #f86bb9;

$pink_mode-color__background-body: #fefdfe;
$pink_mode-color__background-alt: #c1c9d9; // #d99d9d9; #adadad;



$pink_mode-color__text-heading: #f26d91;

$pink_mode-color__link: #f2b6d7;
$pink_mode-color__link-hover: #f26d91;

$pink_mode-color__background-button: #f2d5e8;
$pink_mode-color__background-button-hover: #f2b6d7;
$pink_mode-color__border-button: #f86bb9;
$pink_mode-color__border-hover: #f86bb9;

$pink_mode-color__border-input: #f2d5e8;

$pink_mode-color__site-title: #f26d91;
$pink_mode-color__site-title-hover: #f86bb9; 
$pink_mode-color__primary-nav: $pink_mode-color__accent;
$pink_mode-color__primary-nav-hover: darken($pink_mode-color__accent,8%);
