/* -- green mode -- */
$theme-mode-green-main: #777777;
$theme-mode-green-heading: #333333;
$theme-mode-green-accent: #00996d;
$theme-mode-green-link-hover: #00996d;
$theme-mode-green-bg-green:#255852;

/* -- pink mode -- */
$theme-mod-pink-accent: #f86bb9;