.night-dark {
   background: $dark_mode-color__background;
   background-color: $dark_mode-color__background; 
}


/* -- Brutal pink -- */
.brutal-pink {
   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
      color: $pink_mode-color__text-heading;
   }

}

/* -- Eco green -- */
.eco-green {
   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
      color: $green_mode-color__text-heading;
   }

}

/* -- ocean blue -- */
.ocean-blue {
   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
      color: $blue_mode-color__text-heading;
   }

}

/* -- WB -- */
.ocean-blue {
   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
      color: $wb_mode-color__black;
   }

}
