/* Normalize
--------------------------------------------- */
@import "_normalize";

/* Box sizing
--------------------------------------------- */
@import "_box-sizing";

/* Accessibility
--------------------------------------------- */
@import "_accessibility";


/* Helper Classes
--------------------------------------------- */
.no-margin {
	margin: 0;
}
.no-padding {
	padding: 0;
}
.no-mobile {
  @media screen and (max-width: $content__width) {
    display: none;
  }
}
.only-mobile {
  @media screen and (min-width: $content__width) {
    display: none;
  }
}

.site-main {
  overflow: hidden;
}

.site-main,
.site-footer {
   transition: all 0.25s ease-in-out;
}

.nav-open .site-main,
.nav-open .site-footer,
.nav-open .site-branding {
   filter: blur(6px);
   opacity: 0.6;
}
body.nav-open {
   overflow: hidden;
}

.reset-list-style,
.reset-list-style ul,
.reset-list-style ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
