.social-navigation {
	
	& > ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		
		& > li {
			position: relative;
			margin: 8px 0 0 8px;
		}

				
		a {
			text-decoration: none;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 36px;
			height: 36px;
			padding: 0;
			color: $color__social-link;
			border: 1px solid $color__social-link;
			border-radius: 50%;
			overflow: hidden;
			transition: transform 0.7s linear;
			opacity: 0.85;

		&:hover,
		&:focus {
			color: $color__social-link-hover;
			border-color: $color__social-link-hover;
			// transform: scale(1.1);
			transform: rotate(360deg);
			opacity: 1;

		}
	}
	
	svg {
		fill: currentColor;
		// vertical-align: middle;
	}
}
}