.blog .site-main > header,
.archive .page-header {
   @include container;
   margin-top: 1.6 * $main-spacing;
   margin-bottom: 1.6 * $main-spacing;
   
   @media screen and (min-width: $content__width) {
      margin-top: 3.4 * $main-spacing;
      margin-bottom: 3.4 * $main-spacing;
   }
}

// .blog .site-main > article,
// .archive .site-main > article {
//    @include container;
// }