.sticky {
	display: block;
}

.entry-header {
	@include container-content;
}

.post-thumbnail {
	@include container-content;
	margin-top: 1.6 * $main-spacing;
	margin-bottom: 1.6 * $main-spacing;
	@media screen and (min-width: $content__width) {
		margin-top: 3.4 * $main-spacing;
		margin-bottom: 3.4 * $main-spacing;
	}
}

.entry-meta {
	padding: 1em 0;
}

.entry-footer {
	@include container-content;
	margin-top: 1.6 * $main-spacing;
	margin-bottom: 1.6 * $main-spacing;
	padding: 1.5 * $main-spacing 0;
	border-top: 1px solid $color__currentColor;

	@media screen and (min-width: $content__width) {
		margin-top: 3.4 * $main-spacing;
	}
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
