@import "_page";
@import "_post";
@import "_meta";
@import "_archive";
@import "_not-found";


.sticky {
	display: block;
}

.entry-header {
	@include container;
}

.post-thumbnail {
	@include container;
	margin-top: 1.6 * $main-spacing;
	margin-bottom: 1.6 * $main-spacing;
	@media screen and (min-width: $content__width) {
		margin-top: 3.4 * $main-spacing;
		margin-bottom: 3.4 * $main-spacing;
	}
}


.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
